{% extends "base.html" %}
{% block content %}

    <h2>Weather Basic</h2>
        <p align=left>
        Start by entering a city name into search field below. You can search
        for a city using a "City Name, Country Code" query like "London, GB",
        where GB stands for Great Britain. To specify a US state, queries must be
        formatted like "San Diego, CA, US" due to the nature of the OpenWeather API.
        </p>
    <br>
    <br>
    <form action="/search_city" method="POST">
        <label for="loc">Search Location:</label><br>
        <input type="text" id="loc" name="loc"><br>
        <input type="submit" value="Submit"><br>
    </form><br>
    <em>{{ error }}</em>
    <br>
    <br>

    {% for entry in multi %}
        {{ entry }}<br>
    {% endfor %}

{% endblock %}
