{% extends "base.html" %}
{% block content %}

    Now displaying local weather in...<br>
        <strong>{{ info['location']['name'] }}</strong>,
            located @ ID: {{ info['location']['ID'] }}<br>

    <img src="{{ info['icon_url'] }}" width="50" height="50"><br>
    Pressure: {{ info['pressure'] }}<br>
    Visibility: {{ info['visibility'] }}<br>
    Status: {{ info['status'] }}<br>
    Temperature: {{ info['temperature'] }} F°<br>
    Wind blowing at {{ info['wind_speed'] }} m/s
        from {{ info['wind_dir'] }}°<br><br>

    Sunrise: {{ info['sunrise_time']}}<br>
    Sunset: {{ info['sunset_time'] }}<br>

    <em>* Displayed in
        <a href="https://en.wikipedia.org/wiki/ISO_8601">
            ISO 8601</a> international time standard.</em>

{% endblock %}
